.auth-container{
    background-image: url('../src/assets/images/foodBg.png');
    background-size: cover;
    background-position: center center;
}

.bg-overlay {
    background: linear-gradient(45deg, rgba(55,140,47,0.6) , rgba(0,0,0,0.6));
}

.btn-custom-green {
  background-color: #4AA35A !important;
  border-color: #4AA35A !important;
  color: #fff !important;
}

.btn-custom-green:hover {
  background-color: #3c8c4c !important;
  border-color: #3c8c4c !important;
}
.form-control {
  background-color: #F7F7F7 !important;
}
.input-group-text {
  color: rgba(0, 0, 0, 0.5) !important;      
  font-weight: 300 !important;  
}

/* ******** Header ************ */

.custom-bg
{
  background-image: url('/src/assets/images/headerBg.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* padding: 20px; */
  border-radius: 16px;
  overflow: hidden;
}
.header-img 
{
  width: 70% !important;
}

.header-title {
  color: #fff; 
}


/* ************** SideBar ************** */

.sideBar-cont .ps-sidebar-container {
  background-color: #1F263E;
  height: 100vh;
  border-top-right-radius:70px;
}

.sideBar-cont .ps-menu-button 
{
  color: #fff !important;
}

.sideBar-cont .ps-menu-button:hover
{
  background-color: rgba(0,146,77,0.1) !important;
  border-left: 5px solid #4AA35A ;
  
}

.sideBar-cont .sideBar-logo .ps-sidebar-root a{
   padding: 0 !important;
   
}
.sideBar-cont .sideBar-logo a:hover{

  background-color: transparent !important;
  border: none;
}

/* images */
.item-img {
width: 50px;
border-radius: 50%;
}

.recipe-header{
  background-color: #F0FFEF;
}

/* drop down  */

.custom-dropdown-menu {
  background-color: #f9f9f9;
  border-radius: 8px;
  min-width: 120px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.custom-dropdown-item {
  color: #28a745; /* Green color */
  font-weight: 500;
  padding: 8px 12px;
}

.custom-dropdown-item:hover {
  background-color: #e6f7e6;
  color: #218838; /* Darker green on hover */
}
.action-dropdown .dropdown-toggle::after {
  display: none !important;
}
.custom-dropdown-item i {
  color: #009247;
}

/* upload file */


